<div class="card">
<h4>My Profile</h4>
<table class="table table-success table-borderless ">
  <tr>
    <td colspan="2" style="text-align: center;">
      <img src="../../assets/images/profile.jfif"
      alt=""
      width="180px"

    />
    </td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{userDetail.firstName}} {{userDetail.lastName}}</td>
  </tr>
  <tr>
    <td>Email ID:</td>
    <td>{{userDetail.emailId}}</td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>{{userDetail.gender}}</td>
  </tr>
  <tr>
    <td>DOB:</td>
    <td>{{DOB}}</td>
  </tr>
  <tr>
    <td>Contact No.:</td>
    <td>{{userDetail.mobileNumber}}</td>
  </tr>

</table>
</div>